@import url("~/platform.css");

Page {
  background-color: white;
  font-size: 15;
}

.main-label {
  horizontal-align: center;
}

.list-page {
  background-image: url("res://bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ActionBar {
  background-color: black;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.line-through {
  text-decoration: line-through;
}

.bottom-bar {
  margin-bottom: 45;
}
