.phrase-label {
  color: #311217;
  font-size: 18;
  letter-spacing: 0.1;
  margin-bottom: 24;
}

TextField {
  border-width: 1;
  border-color: #6E595C;
  margin-bottom: 20;
}

.submit-button {
  height: 40;
  margin-top: 15;
}
