.phrase-label {
  horizontal-align: center;
  color: black;
}

Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

.submit-button {
  background-color: #CB1D00;
  color: white;
}
