<rom-base-view [hideNavigation]="true">
  <Label
    class="main-label"
    text="Welcome"></Label>

  <Label
    class="phrase-label"
    text="Please create a new password"></Label>

  <GridLayout rows="auto, auto">

    <TextField #newPassword
      hint="New password"
      secure="true"
      autocorrect="false"
      autocapitalizationType="none"
      returnKeyType="next"
      (returnPress)="focusRepeat()"
      [(ngModel)]="model.newPassword"
      [isEnabled]="!isChanging"
      row="0"></TextField>

    <TextField #repeatPassword
      hint="Repeat"
      secure="true"
      autocorrect="false"
      autocapitalizationType="none"
      returnKeyType="done"
      (returnPress)="submit()"
      [(ngModel)]="model.repeatedPassword"
      [isEnabled]="!isChanging"
      row="1"></TextField>

    <ActivityIndicator
      [busy]="isChanging"
      rowSpan="2"></ActivityIndicator>
  </GridLayout>

  <Button
    text="Change password"
    [isEnabled]="!isChanging"
    class="submit-button"
    (tap)="submit()"></Button>
</rom-base-view>
