<rom-base-view>

  <GridLayout rows="auto, *, auto" class="ble-grid">
    <Label row="0" class="main-label" text="Ready to go?"></Label>

    <StackLayout row="1">
      <Label [text]="user.name"></Label>
      <Label [text]="user.email"></Label>
      <Label [text]="user.birthday"></Label>
      <Label [text]="user.startedPlaying"></Label>
      <Label [text]="user.startedPlaying"></Label>
      <Label [text]="'Allow sharing: ' + user.allowSharing"></Label>
      <Label [text]="'Racket id: ' + racket.UUID"></Label>
    </StackLayout>

    <Button row="2" class="session-btn" (tap)="start()" text="Start session"></Button>
  </GridLayout>

</rom-base-view>
