.background {
  background-image: url("res://bg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  visibility: visible;
  opacity: 0;
  margin-left: 30;
  margin-right: 30;
  background-color: white;
}
