.racket-item {
  height: 120;
  font-size: 17;
  padding: 12;
}

.main-label {
  horizontal-align: center;
}

.scan-btn {
  background-color: #CB1D00;
  color: white;
  margin-top: 10;
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 5;
  padding: 20;
  font-size: 18;
}

.ble-grid {
  padding: 0;
  margin: 0;
}
