.birthday-picker {
  height: 120;
}

Button, TextField, DatePicker, Switch, .default-margin {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

.birthday-label {
  margin-bottom: 0;
}

.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 15;
}

.submit-button.back {
  background-color: black;
}
