.background {
  background-image: url("res://bg_login");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  margin-left: 30;
  margin-right: 30;
  background-color: white;
}

.main-label {
  horizontal-align: center;
  color: black;
}

.birthday-picker {
  height: 120;
}

.allow-sharing-label, .allow-sharing-switch {
  vertical-align: center;
}

.allow-sharing-label {
  horizontal-align: left;
}

Button, TextField, DatePicker, Switch, .birthday-label {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 15;
}
