<rom-base-view>
  <StackLayout>

    <Label class="main-label" text="New User"></Label>

    <GridLayout
      class="form-controls"
      rows="auto, auto, auto, auto"
      columns="*, *, *">

      <TextField
        hint="First name"
        returnKeyType="next"
        autocorrect="false"
        autocapitalizationType="words"
        row="0"
        col="0"
        [(ngModel)]="newUser.firstName"></TextField>

      <TextField
        hint="Last name"
        returnKeyType="next"
        autocorrect="false"
        autocapitalizationType="words"
        row="0"
        col="1"
        [(ngModel)]="newUser.lastName"></TextField>

      <TextField
        hint="Email Address"
        keyboardType="email"
        returnKeyType="next"
        autocorrect="false"
        autocapitalizationType="none"
        row="0"
        col="2"
        [(ngModel)]="newUser.email"></TextField>

      <Label
        class="default-margin"
        text="Birthday"
        row="1"
        col="0"></Label>

      <DatePicker
        class="birthday-picker"
        row="1"
        col="1"
        colSpan="2"
        [(ngModel)]="newUser.birthday"></DatePicker>

      <TextField
        hint="Years of experience"
        keyboardType="number"
        returnKeyType="next"
        row="2"
        col="0"
        [(ngModel)]="yearsOfExperience"></TextField>

      <Label
        class="default-margin"
        text="Share data?"
        row="2"
        col="1"></Label>

      <Switch
        class="default-margin"
        row="2"
        col="2"
        [(ngModel)]="newUser.allowSharing"></Switch>

      <Label 
        visibility="{{ user.isConsultant ? 'visible' : 'collapsed' }}"
        class="default-margin"
        text="Coach?"
        row="3"
        col="1"></Label>

      <Switch
        visibility="{{ user.isConsultant ? 'visible' : 'collapsed'}}"
        class="default-margin"
        row="3"
        col="2"
        [(ngModel)]="newUser.isCoach"></Switch>

    </GridLayout>

    <Button
      text="Next"
      class="submit-button"
      (tap)="submit()"></Button>
    <Button
      text="Back"
      class="submit-button back"
      (tap)="back()"></Button>

  </StackLayout>
</rom-base-view>