<StackLayout>
  <GridLayout [visibility]="hideUserTab ? 'collapsed' : 'visible'" class="tabs" columns="*,*,*">
    <ContentView col="0">
      <rom-tab text="Dashboard" route="/dashboard"></rom-tab>
    </ContentView>
    <ContentView col="1">
      <rom-tab text="Users" route="/users"></rom-tab>
    </ContentView>
    <ContentView col="2">
      <rom-tab text="Sessions" route="/startedSessions"></rom-tab>
    </ContentView>
  </GridLayout>

  <GridLayout [visibility]="hideUserTab  ? 'visible' : 'collapsed'" class="tabs" columns="*,*">
    <ContentView col="0">
      <rom-tab text="Dashboard" route="/dashboard-user"></rom-tab>
    </ContentView>
    <ContentView col="1">
      <rom-tab text="Sessions" route="/startedSessions"></rom-tab>
    </ContentView>
  </GridLayout>
</StackLayout>
